body {
	background: linear-gradient(135deg, #fde5ff, #2d1f91);
}

.parrent {
	width: 1000px;
	height: 500px;
	/* border: 1px solid red; */
	margin-left: 150px;
	margin-top: 80px;
	background: linear-gradient(111deg, #3012d2 40%, #fac4fe, #4d02a3);
}

.navbar ul li {
	display: inline;

	margin: 15px;
	color: white;
}
.opshi {
	display: flex;
	align-items: center;
	/* border: 1px solid red; */
}
.bannit {
	padding-left: 40px;
	/* border: 1px solid red; */
	color: white;
}
.navbar ul {
	margin-left: 70px;
}
.your {
	width: 430px;
	height: 400px;
	/* border: 1px solid orange; */
	color: #8b65c2;
}

.bitcoins {
	font-size: 25px;
	margin-top: 100px;
	margin-left: 50px;
	color: white;
}
.most {
	margin-top: 50px;
	margin-left: 50px;
}

.watch {
	font-size: 20px;
	margin-left: 50px;
	margin-top: 100px;
	color: white;
}

.dow {
	border: 1px solid;
}

.icon {
	color: #d262f5;
}

.rasm {
	width: 700px;
	height: 400px;

	/* border: 1px solid green; */
	margin-left: 60px;
}

.hhh {
	display: flex;
	/* border: 1px solid black; */
}

img {
	position: relative;
	bottom: 50px;
	margin-left: 250px;
	width: 390px;
	height: 500px;
}
